@use 'variables';
@use 'mixins';

.modal-navbar{
    display: block;
    background-color: white;
    width: 250px;
    height: 100%;
    padding: 28px;
    @media (min-width:1115px) {
        display: block;
        
    }
    
    &__background{
        @include mixins.modal-background;

    }
    &__items{
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none;
        margin-top: 50px;

    }
    &__link{
        text-decoration: none;
        color: variables.$Black;
        font-weight: 700;
        font-size: 1.1rem;

    }
    &__close-icon:hover{
        cursor: pointer;
    }
    
}